@font-face {
  font-family: "Iverse mono";
  src: url(IverseMono-Regular.ttf);
}

@font-face {
  font-family: 'Eastman Roman Regular Offset';
  src: url(EastmanRomanTrial-RegularOffset.otf);
}

@font-face {
  font-family: 'Eastman Roman Medium' ;
  src: url(EastmanRomanTrial-Medium.otf);
}


html, body {
  background-color: #44c0fe;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.initial-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Iverse mono";
  color: white;
}

.about-me-title {
  color: white;
  font-family: 'Eastman Roman Medium';
}

/* BUBBLES */
.about-me-bubble {
  top: 5rem;
  left: 10rem;
  position: absolute;
}

.hobbies-bubble {
  position: absolute;
  top: 3rem;
  left: 50rem;
}

.code-bubble {
  position: absolute;
  top: 35rem;
  left: 60rem;
}

.socials-bubble {
  position: absolute;
  top: 38rem;
  left: 22rem;
}


.bubble {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.bubble-image {
  background: transparent;
}

/* CLOUDS */ 
.cloud {
  position: absolute;
  bottom: -7rem;
  left: -11rem;

}

.cloud1 {
  position: absolute;
  width: 15%;
  top: 15rem;
  right: 2rem;
}