@font-face {
  font-family: "Iverse mono";
  src: url(IverseMono-Regular.ttf);
}

@font-face {
  font-family: 'Eastman Roman Regular Offset';
  src: url(EastmanRomanTrial-RegularOffset.otf);
}

@font-face {
  font-family: 'Eastman Roman Medium' ;
  src: url(EastmanRomanTrial-Medium.otf);
}


body {
  background-color: #44c0fe;
}

.initial-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Iverse mono";
  color: white;
}

.about-me-title {
  color: white;
  font-family: 'Eastman Roman Medium';
}

/* BUBBLES */
.about-me-bubble {
  top: -7rem;
  left: 10rem;
  position: absolute;
}

.hobbies-bubble {
  position: absolute;
  top: -7rem;
  left: 30rem;
}

.code-bubble {
  position: absolute;
  top: 45rem;
  left: 35rem;
}


.bubble {
  background: transparent;
  border: 0;
}

.bubble-image {
  background: transparent;
}
