@font-face {
  font-family: "Iverse mono";
  src: url(IverseMono-Regular.ttf);
}

@font-face {
  font-family: 'Eastman Roman Regular Offset';
  src: url(EastmanRomanTrial-RegularOffset.otf);
}

@font-face {
  font-family: 'Eastman Roman Medium' ;
  src: url(EastmanRomanTrial-Medium.otf);
}


html, body {
  background-color: #44c0fe;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.initial-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Iverse mono";
  color: white;
}

.about-me-title {
  color: white;
  font-family: 'Eastman Roman Medium';
  margin: 0;
}

/* BUBBLES */
.about-me-bubble {
  top: 2rem;
  left: 10rem;
  position: absolute;
}

.hobbies-bubble {
  position: absolute;
  top: 3rem;
  left: 60rem;
}

.code-bubble {
  position: absolute;
  top: 35rem;
  left: 60rem;
}
.socials-bubble {
  position: absolute;
  top: 19rem;
  left: 2rem;
}

.fake-bubble {
  position: absolute;
  bottom: 3rem;
  left: 24rem;
  cursor: pointerl
}

.bubble {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.bubble-image {
  background: transparent;
}


/* IMAGES */
.maimai-image {
  position: absolute;
  top: -14rem;
  left: 23rem;
}

.wordscapes-image {
  position: absolute;
  top: 4rem;
  left: -13rem;
  z-index: 999;
}

.crochet-image {
  position: absolute;
  top: 7rem;
  right: -15rem;
}

.baking-image {
  position: absolute;
  top: 19rem;
  left: 23rem;
}

.random-text {
  position: absolute;
  left: -13rem;
  top: 15rem;
  font-size: 0.8rem;
}

.arrow1 {
  position: absolute;
  width: 10%;
  top: 10rem;
  left: 15rem;
}

.arrow2 {
  position: absolute;
  width: 7%;
  top: -1rem;
  right: 10rem;
}

.arrow3 {
  position: absolute;
  width: 9%;
  right: -2rem;
  top: 12rem;
}

.arrow4 {
  position: absolute;
  width: 3%;
  top: 11rem;
  left: -1rem;
}

.arrow5 {
  position: absolute;
  width: 5%;
  top: 16rem;
  left: 27rem;
}

.me {
  position: absolute;
  width: 25%;
  top: 12rem;
  left: 23rem;
}


/* TEXT */
.hobbies-container {
  width: 100%;
  text-align: center;
  /* max-width: 30rem; /* Adjust as needed */
  margin: 0 auto;
}



.links-text {
  line-height: 0.5rem;
}


.socials-container ul {
  list-style: none;
}

.socials-container ul li a {
  color: white;
  font-size: 4rem;
}

.socials-container ul li a:hover {
  color: #d5effb
}

.center-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem; /* Adjust the gap between the items as needed */
}

.center-list li {
  font-size: 2rem; /* Adjust the icon size as needed */
}

.center-list a {
  color: inherit;
  text-decoration: none;
}

.pizza {
  position: relative;
  width: 25rem;
  height: 25rem;
}

.pizza-text {
  position: relative;
  width: 25rem;
  top: -14rem;
  right: -25rem;
}

.pizza-text ul {
  list-style: none;
  text-align: left;
}

.pizza-text2 ul {
  width: 20rem;
  list-style: none;
}

/* CLOUDS */ 
.cloud {
  position: absolute;
  bottom: -7rem;
  left: -11rem;
  z-index: 0;
}

.cloud1 {
  position: absolute;
  width: 15%;
  top: 10rem;
  right: 4rem;
  z-index: 0;
}

.clouds {
  position: relative;
  top: 25rem;
  width: 35%;
  right: -55rem;
}

.cloud4 {
  position: relative;
  top: -14.5rem;
  right: -25rem;
}

.cloud5 {
  position: relative;
  top: -45rem;
  left: -47rem;
}